@import "tailwindcss";

:root{
  --bg: #26272B;
  --cardBg: #2D2E33;
  --primary: #5A96F7;
  --secondaryOrange: #FF6A27;
  --secondaryGreen: #21C25D;
  --textHead: #FFFFFF;
  --textBody: #C7D6F3;
  --border: #404249;
}

/* Global defaults */
html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--textHead);
  font-family: var(--font-poppins), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
